.nav-link {
    color: green !important;
}

.nav-link:hover {
    color: darkslategray !important;
}

#coltonprog {
    text-align: center;
}

#coltondesign {
    text-align: center;
}

hr {
    height: 1px;
}